{% extends 'base.html' %}
{% load static %}
{% block title %} {{ post.title_tag }}{% endblock %}

{% block content %}

<style>
    .article_details-container {
        display: flex;
        justify-content: center; /* Center the content */
        margin: 60px; /* Add some margin for spacing */
    }

    .article-content {
        max-width: 600px; /* Set a maximum width for the article */
        width: 100%; /* Allow it to be responsive */
        padding: 20px; /* Add padding for inner spacing */
       /* background-color: white; /* Optional: Add a background color */
        border-radius: 10px; /* Optional: Add rounded corners */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow */
    }

    .article-content img {
        width: 100%; /* Make the image responsive */
        max-width: 300px; /* Set a maximum width for the image */

        height: auto; /* Maintain aspect ratio */
        border-radius: 10px; /* Optional: Add rounded corners to the image */
    }
</style>

<div class="article_details-container">
    <div class="article-content">
        <h1>
            <small><small>{{ post.title }}</small></small>
        </h1>
        
        <small>
            <strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong><br>
            {{ post.post_date }}<br>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                <small>
                    <a href="{% url 'update-post' post.pk %}">Edit</a>
                    <a href="{% url 'delete-post' post.pk %}">Delete</a>
                </small>
                {% endif %}
            {% endif %}
        </small>
        
        <br>
        <hr>
        <br>

        {% if post.header_image %}
            <img src="{{ post.header_image.url }}" alt="Header Image">
        {% endif %}

        <small>
            <small>{{ post.body|safe }}</small>
        </small>
        
        <br>
        <a href="{% url 'home' %}" class="btn btn-success rounded-pill">Back</a>
        <br>
        <hr>
        <br>

        <form action="{% url 'like-post' post.pk %}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
                {% if liked %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm rounded-pill">Unlike</button> 
                {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm rounded-pill">Like</button> 
                {% endif %}
            {% else %}
            <small><a href="{% url 'login' %}">Login to like</a></small>
            {% endif %}
            - {{ total_likes }} Likes
        </form>

        <br>

        <div class="card mb-4">
            <div class="row g-0">
                <div class="col-md-2">
                    {% if post.author.profile.profile_picture %}
                    <img src="{{ post.author.profile.profile_picture.url }}" class="rounded-circle" width="100" height="100" alt="Profile Picture">
                    {% else %}
                    <img src="{% static 'images/DocteurGuidzavai.png' %}" class="rounded-circle" width="100" height="100" alt="Default Picture">
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
                        <p class="small text-muted">
                            {% if post.author.profile.website_url %}
                            <a href="{{ post.author.profile.website_url }}">Website</a> |
                            {% endif %}
                            {% if post.author.profile.facebook_url %}
                            <a href="{{ post.author.profile.facebook_url }}">Facebook</a> |
                            {% endif %}
                            {% if post.author.profile.twitter_url %}
                            <a href="{{ post.author.profile.twitter_url }}">Twitter</a> |
                            {% endif %}
                            {% if post.author.profile.linkedin_url %}
                            <a href="{{ post.author.profile.linkedin_url }}">LinkedIn</a> |
                            {% endif %}
                            {% if post.author.profile.discord_url %}
                            <a href="{{ post.author.profile.discord_url }}">Discord</a>
                            {% endif %}
                        </p>
                        <p class="card-text">{{ post.author.profile.bio }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>

{% endblock %}
